/* GENERAL */

body {
  overflow: hidden;
}

.container.fs {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  background: rgba(254, 254, 254, 1);
  overflow: hidden;
}

button {
  border: none;
  cursor: pointer;
}

button:focus,
button:hover {
  outline: none;
}


/* TYPOGRAPHY */

.ft--bodoni {
  font-family: 'Bodoni';
  -webkit-font-smoothing: antialiased;
}

.ft--avenir {
  font-family: 'Avenir', sans-serif;
}

.ft--avenir__demibold {
  font-family: 'Avenir Demi Bold', sans-serif;
}

.ft--avenir__bold {
  font-family: 'Avenir Bold', sans-serif;
}

.ft--avenir__heavy {
  font-family: 'Avenir Heavy', sans-serif;
}

.ft--palatino {
  font-family: 'Palatino', serif;
}

.ft--white {
  color: #F9F9F9;
}

.ft--red {
  color: #FF6A6A;
}

.ft--black {
  color: #272727;
}

.ft--grey__dark {
  color: #4A4A4A;
}

.ft--grey__light {
  color: #5D5D5D;
}


/* LOADER */

.loader {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 1;
}

.loader span {
  font-size: 36px;
  -webkit-transition: .3s ease-in;
  transition: .3s ease-in;
}
.loader.loader__out span {
  opacity: 0;
}

.loader .loader--point {
  -webkit-animation: point-blink 1s infinite ease;
  animation: point-blink 1s infinite ease;
}

.loader .loader--point:nth-of-type(1) {
  -webkit-animation-delay: .25s;
  animation-delay: .25s;
}
.loader .loader--point:nth-of-type(2) {
  -webkit-animation-delay: .50s;
  animation-delay: .50s;
}
.loader .loader--point:nth-of-type(3) {
  -webkit-animation-delay: .75s;
  animation-delay: .75s;
}

.loader--heart {
  margin-bottom: 25px;
  -webkit-transition: .3s ease-in;
  transition: .3s ease-in;
}

.loader--heart.loader__beating {
  -webkit-animation: heartbeat 1s ease-out 1.3s;
  animation: heartbeat 1s ease-out 1.3s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes heartbeat {
  0% { -webkit-transform: scale3d(1, 1, 0); transform: scale3d(1, 1, 0); }
  14% { -webkit-transform: scale3d(1.2, 1.2, 0); transform: scale3d(1.2, 1.2, 0); }
  28% { -webkit-transform: scale3d(1, 1, 0); transform: scale3d(1, 1, 0); }
  42% { -webkit-transform: scale3d(1.2, 1.2, 0); transform: scale3d(1.2, 1.2, 0); }
  70% { -webkit-transform: scale3d(1, 1, 0); transform: scale3d(1, 1, 0); }
}

@keyframes heartbeat {
  0% { -webkit-transform: scale3d(1, 1, 0); transform: scale3d(1, 1, 0); }
  14% { -webkit-transform: scale3d(1.2, 1.2, 0); transform: scale3d(1.2, 1.2, 0); }
  28% { -webkit-transform: scale3d(1, 1, 0); transform: scale3d(1, 1, 0); }
  42% { -webkit-transform: scale3d(1.2, 1.2, 0); transform: scale3d(1.2, 1.2, 0); }
  70% { -webkit-transform: scale3d(1, 1, 0); transform: scale3d(1, 1, 0); }
}

@-webkit-keyframes point-blink {
  0%  {opacity: 1;}
  14% {opacity: 1;}
  28% {opacity: 0;}
  42% {opacity: 0;}
  70% {opacity: 1;}
}

@keyframes point-blink {
  0%  {opacity: 1;}
  14% {opacity: 1;}
  28% {opacity: 0;}
  42% {opacity: 0;}
  70% {opacity: 1;}
}

.loader--heart.loader__out {
  -webkit-animation: loaderHeart-out 1s cubic-bezier(0.5, -0.1, 0.5, 1) forwards;
  animation: loaderHeart-out 1s cubic-bezier(0.5, -0.1, 0.5, 1) forwards;
}

@-webkit-keyframes loaderHeart-out {
  0%   { -webkit-transform: scale3d(1, 1, 0); transform: scale3d(1, 1, 0); }
  100% { -webkit-transform: scale3d(50, 50, 0); transform: scale3d(50, 50, 0); }
}

@keyframes loaderHeart-out {
  0%   { -webkit-transform: scale3d(1, 1, 0); transform: scale3d(1, 1, 0); }
  100% { -webkit-transform: scale3d(50, 50, 0); transform: scale3d(50, 50, 0); }
}

.loader.loader__out {
  -webkit-animation: loader-out .2s ease-in .8s forwards;
  animation: loader-out .2s ease-in .8s forwards;
  pointer-events: none;
}

@-webkit-keyframes loader-out {
  0%   { opacity: 1; }
  99%  { opacity: 0; }
  100% { opacity: 0; display: none;}
}

@keyframes loader-out {
  0%   { opacity: 1; }
  99%  { opacity: 0; }
  100% { opacity: 0; display: none;}
}


/* WELCOME SCREEN */

.legal-warning {
  text-align: center;
  position: absolute;
  bottom: 10px;
  width: 100%;
  font-size: 12px;
  color: #3C3C3C;
}

.container.welcome {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  background: rgba(250, 250, 250, 0.5);;
}

.welcome svg {
  -webkit-animation: floating 2s infinite ease-in-out;
  animation: floating 2s infinite ease-in-out;
}

@-webkit-keyframes floating {
  from {-webkit-transform:translate(0, 0px);}
  65% {-webkit-transform:translate(0, 10px);}
  to {-webkit-transform: translate(0, -0px);    }
}

@keyframes floating {
  from {-webkit-transform:translate(0, 0px);}
  65% {-webkit-transform:translate(0, 10px);}
  to {-webkit-transform: translate(0, -0px);    }
}

.welcome h1 {
  margin: 22px 0 16px 0;
  font-size: 60px;
  text-transform: uppercase;
}

.welcome h1 > span {
  color: #FF6A6A;
  font-size: 60px;
  text-transform: uppercase;
}

.welcome hr {
  height: 1px;
  width: 100px;
  margin: 0 auto 30px auto;
  background: #272727;
  border: none;
}

.welcome span {
  max-width: 420px;
  font-size: 18px;
  margin-bottom: 40px;
}

.welcome button {
  background: #FF6A6A;
  color: white;
  border-radius: 15px;
  width: 300px;
  height: 50px;
  font-size: 18px;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}
.welcome button:focus,
.welcome button:hover {
  background: #F54C4C;
}


.home_background {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: -10;
}
.home_background_video {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  opacity: 0.3;
  z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
  .home_background > video {
    height: 300%;
    top: -100%;
  }
}
@media (max-aspect-ratio: 16/9) {
  .home_background > video {
    width: 300%;
    left: -100%;
  }
}
@supports (object-fit: cover) {
  .home_background > video {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
  }
}


/* LOGIN SCREEN */

.container.login {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  background: rgba(250, 250, 250, 1);
}

.login form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.login h2 {
  font-size: 36px;
  margin: 0 0 25px 0;
}

.login button {
  font-size: 20px;
  background: #4495FF;
  border-radius: 15px;
  border: none;
  text-align: center;
  width: 380px;
  height: 50px;
  -webkit-transition: .2s ease;
  transition: .2s ease;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 40px;
}
.login button:focus,
.login button:hover {
  outline: none;
  background: #2B86FC;
}
.login button>img {
  margin-right: 16px;
}

.login .fb-info {
  font-size: 18px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.login .fb-info>img {
  margin-right: 9px;
}

.login .conditions-info {
  font-size: 14px;
  max-width: 380px;
  margin: 9px 0 20px 0;
}

.login .no-fb {
  font-size: 14px;
}

.login label {
  font-size: 36px;
}

.login form > input {
  border: 1px solid #BCBCBC;
  border-radius: 15px;
  width: 380px;
  height: 50px;
  text-align: center;
  margin-bottom: 40px;
}

.login button {
  margin: 0 auto 18px auto;
}

.login form div:last-of-type {
  margin-bottom: 40px;
}

/*
.scroll {
-webkit-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
display: block;
overflow-x: hidden;
height: 100%;
width: 100%;
}
.scroll [ui-view="partial"] {
position: absolute;
width: 100%;
height: 100%;
}
*/

.scroll [ui-view="partial"].ng-animate {
  -webkit-transition: all 1s ease;
  transition:all 1s ease;
}
.scroll [ui-view="partial"].ng-enter {
  -webkit-transform:translate3d(100%, 0, 0);
  transform:translate3d(100%, 0, 0);
  background-color: lawngreen;
}

.scroll [ui-view="partial"].ng-enter.ng-enter-active {
  -webkit-transform:translate3d(0, 0, 0);
  transform:translate3d(0, 0, 0);
}

.scroll [ui-view="partial"].ng-leave {
  -webkit-transform:translate3d(0, 0, 0);
  transform:translate3d(0, 0, 0);
}

.scroll [ui-view="partial"].ng-leave.ng-leave-active {
  -webkit-transform:translate3d(-100%, 0, 0);
  transform:translate3d(-100%, 0, 0);
  background-color: red;
}


.scroll [ui-view="partial"].backward.ng-enter {
  -webkit-transform:translate3d(-100%, 0, 0);
  transform:translate3d(-100%, 0, 0);
}

.scroll [ui-view="partial"].backward.ng-enter-active {
  -webkit-transform:translate3d(0, 0, 0);
  transform:translate3d(0, 0, 0);
}

.scroll [ui-view="partial"].backward.ng-leave {
  -webkit-transform:translate3d(0, 0, 0);
  transform:translate3d(0, 0, 0);
}

.scroll [ui-view="partial"].backward.ng-leave-active {
  -webkit-transform:translate3d(100%, 0, 0);
  transform:translate3d(100%, 0, 0);
}

/* SIGNUP2 FORM */

.login form input.ng-invalid.ng-dirty {
  border-color:red;
}
.login form input.ng-valid.ng-dirty {
  border-color:green;
}



/* NAV (control + bar) */

.nav-overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: calc(0px - 100vh);
  left: 0;
  background: rgba(0,0,0,0.2);
  -webkit-transition: .3s ease;
  transition: .3s ease;
  opacity: 0;
  pointer-events: none;
  cursor: pointer;
}
nav.up .nav-overlay {
  opacity: 1;
  pointer-events: all;
  z-index:2;
}

.nav-control {
  position: absolute;
  bottom: 90px;
  left: calc(50% - 30px);
  width: 60px;
  height: 30px;
  border-radius: 5px 5px 0 0;
  background: #FF6A6A;
  cursor: pointer;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  z-index: 2;
}
nav .nav-control:hover {
  -webkit-transform: translate3d(0, -9px, 0);
  transform: translate3d(0, -9px, 0);
}

nav {
  position: absolute;
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #FF6A6A;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  -webkit-transform: translateY(100vh);
  transform: translateY(100vh);
}
nav.up {
  -webkit-transform: translateY(calc(100vh - 100px));
  transform: translateY(calc(100vh - 100px));
}

nav a {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: #FEFEFE;
  margin-right: 100px;
  cursor: pointer;
}
nav a:last-of-type {
  margin-right: 0;
}
nav a::after {
  content: '';
  display: block;
  width: 110px;
  height: 7px;
  background: #FEFEFE;
  margin-left: 25px;
  margin-top: 12px;
}
nav a:last-of-type::after {
  display: none;
}

nav a.active::before {
  content: '';
  display: block;
  position: relative;
  top: -5px;
  left: -6px;
  width: 41px;
  height: 41px;
  border-radius: 100%;
  background: rgba(254, 254, 254, 0.35);
}

nav a.active::after {
  margin-top: -29px;
}

nav .slide-title {
  position: absolute;
  top: 0;
  left: 0;
}

nav a .tooltip {
  position: absolute;
  top: -48px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: -30px;
  padding: 15px 20px;
  background: #BCBCBC;
  font-size: 20px;
  border-radius: 5px;
  pointer-events: none;
  opacity: 0;
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
  -webkit-transition: .3s ease;
  transition: .3s ease;
  z-index: 2;
}
nav a .tooltip::after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background: #BCBCBC;
  position: absolute;
  top: 52px;
  left: 40px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
nav a:hover .tooltip {
  opacity: 1;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}


/* MODEL AUDIOS */


.container.fs.model--audios section{
  width: auto;
  max-width: 940px;
  min-height: 100%;
  margin-left: 12%;
  background: #FEFEFE;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 100px;
  box-sizing: border-box;
}

.waveform {
  width:100%;
  height:150px;
  overflow-x:hidden;
}

.model--audios section > button {
  background: #FF6A6A;
  color: white;
  border-radius: 15px;
  width: 300px;
  height: 50px;
  font-size: 18px;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}
.model--audios section > button:focus,
.model--audios section > button:hover {
  background: #F54C4C;
}

.model--audios .content > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.model--audios .content button {
  color: white;
  font-size: 18px;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.model--audios .content button:hover,
.model--audios .content button.active {
  background: rgb(164, 163, 163);
}



/* MODEL TEXTIMGS */

.container.fs.model--textimgs img{
  display:inline-block;
  margin:0 10px 10px 0;

}

.container.fs.model--textimgs .content{
  width:calc(100% + 40px);
  padding:40px;
  font-size:0;
}
.container.fs.model--textimgs section{
  max-width: 940px;
  min-height: 100%;
  margin-left: 12%;
  background: #FEFEFE;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 100px;
  box-sizing: border-box;
}

/* MODEL TEXT */
.container.fs.model--text,
.container.fs.model--textimgs,
.container.fs.model--audios,
.container.fs.model--textchat {
  min-height: 100vh;
  overflow: scroll;
  /*background: url(https://unsplash.it/1440/900) no-repeat;*/
}

.container.fs.model--text section,
.container.fs.model--textchat section {
  max-width: 940px;
  min-height: 100%;
  margin-left: auto;
  background: #FEFEFE;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 100px;
  box-sizing: border-box;
}

.model--text section h1 {
  font-size: 36px;
  margin: 0 0 36px 0;
}

.model--text section p:first-of-type {
  margin-top: 0;
}

.model--text section p,
.model--text section blockquote {
  font-size: 18px;
  line-height: 24px;
}

.model--text section blockquote {
  margin: 0;
  font-style: italic;
}

.model--text section button,
.model--textimgs section button,
.model--video button {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  background: #FF6A6A;
  border-radius: 15px;
  font-size: 20px;
  padding: 12px 20px;
  margin-right: auto;
  margin-top: 17px;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}
.model--text section button:focus,
.model--text section button:hover,
.model--video button:focus,
.model--video button:hover, {
  background: #F54C4C;
}

.model--text section button::after,
.model--video button::after {
  content: url('../img/next.svg');
  margin-left: 18px;
  position: relative;
  top: 2px;
}


/* MODEL VIDEO */

.model--video button {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

@media (min-aspect-ratio: 16/9) {
  .model--video video {
    height: 300%;
    top: -100%;
  }
}
@media (max-aspect-ratio: 16/9) {
  .model--video video {
    width: 300%;
    left: -100%;
  }
}
@supports (object-fit: cover) {
  .model--video video {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
  }
}


/* MODEL QUESTION */

.model--question,
.model--statsnumber,
.model--quote {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.model--question h1 {
  line-height: 40px;
  margin-bottom: 50px;
}

.model--question button {
  background: #FF6A6A;
  color: white;
  border-radius: 15px;
  padding: 12px 60px;
  font-size: 18px;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.model--question button:first-of-type {
  margin-right: 30px;
}

.model--question .answer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.model--question button:focus,
.model--question button:hover {
  background: #F54C4C;
}


/* MODEL TEXT-CHAT */

.container.fs.model--textchat section {
  padding-bottom: 80px;
}

.chat {
  margin: 0 auto;
  min-width: 350px;
  max-width: 60%;
}

.message {
  margin: 10px 0;
  overflow: hidden;
}

.message-text {
  padding: 10px 20px;
  float: right;
  clear: both;
  border-radius: 25px;
  position: relative;
  margin-bottom: 1px;
}

.message.left .message-text {
  margin-right: 70px;
  margin-left: 20px;
  background-color: #e5e5ea;
  float: left;
}

.message.right .message-text {
  margin-left: 70px;
  margin-right: 20px;
  background-color: #FF6A6A;
  color: #fff;
  float: right;
}

.message-text:last-child:before,
.message-text:last-child:after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 35px;
  height: 25px;
  z-index: -1;
}

.message.right .message-text:before,
.message.right .message-text:after {
  border-radius: 0 0 0 50%;
}

.message.right .message-text:before {
  height: 20px;
  right: -23px;
  background-color: #FF6A6A;
}

.message.right .message-text:after {
  right: -35px;
  bottom: -3px;
  background-color: #fff;
}

.message.left .message-text:before,
.message.left .message-text:after {
  border-radius: 0 0 50% 0;
}

.message.left .message-text:before {
  height: 20px;
  left: -23px;
  background-color: #e5e5ea;
}

.message.left .message-text:after {
  left: -35px;
  bottom: -3px;
  background-color: #fff;
}

.model--textchat section button {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  background: #FF6A6A;
  border-radius: 15px;
  font-size: 20px;
  padding: 12px 20px;
  margin-right: auto;
  margin-top: 17px;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.model--textchat section button:focus,
.model--textchat section button:hover {
  background: #F54C4C;
}

.model--textchat section button::after {
  content: url('../img/next.svg');
  margin-left: 18px;
  position: relative;
  top: 2px;
}


/* MODEL STATS */

.container.fs.model--stats {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.model--stats aside {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: 100px;
}

.model--stats aside .stats-legend {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
}

.stats-legend > span {
  font-size: 20px;
}
.stats-legend > span:not(:last-of-type) {
  margin-bottom: 30px;
}
.stats-legend > span::before {
  content: '';
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 8px;
  position: relative;
  left: -8px;
  top: 6px;
}

.stats-legend > span.ft--red::before {
  background: #FF6A6A;
}

.stats-legend > span.ft--grey__dark::before {
  background: #5D5D5D;
}

.stats-graph {
  margin-bottom: 35px;
}


/* MODEL STATS/NUMBER */

h1 {
  max-width: 840px;
}

.model--statsnumber .stats-number {
  font-size: 68px;
}

.model--statsnumber .stats-number-bg {
  position: absolute;
  top: calc(50% - 300px);
  left: calc(50% - 300px);
  font-size: 288px;
  opacity: 0.05;
}

.model--statsnumber button {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  background: #FF6A6A;
  border-radius: 15px;
  font-size: 20px;
  padding: 12px 20px;
  margin-top: 17px;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.model--statsnumber button:focus,
.model--statsnumber button:hover {
  background: #F54C4C;
}

.model--statsnumber button::after {
  content: url('../img/next.svg');
  margin-left: 18px;
  position: relative;
  top: 2px;
}

/* MODEL QUOTE */

.model--quote blockquote {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  line-height: 30px;
  font-size: 18px;
  max-width: 830px;
  margin-left: -26px;
}
.model--quote blockquote::before {
  content: url(../img/quotes.svg);
  margin-right: 26px;
}

.model--quote button {
  background: #FF6A6A;
  color: white;
  border-radius: 15px;
  padding: 12px 60px;
  font-size: 18px;
  -webkit-transition: .2s ease;
  transition: .2s ease;
  margin-top: 30px;
}

.model--quote button:focus,
.model--quote button:hover {
  background: #F54C4C;
}


/* MOBILE FIXES */


@media only screen and (max-width: 48em) {
  .container.welcome {
    background: rgba(250, 250, 250, 0.8);
  }
  .container.welcome h1 {
    font-size: 30px;
  }
  .container.welcome h1 > span {
    font-size: 30px;
  }
  .login button {
    font-size: 18px;
    width: 330px;
  }
  .login .conditions-info {
    max-width: 90%;
  }
  .login label {
    font-size: 28px;
  }
  .login form > input {
    width: 80%;
  }
  .login form > div {
    margin: 10px 0;
  }

  .container.fs.model--text,
  .container.fs.model--textimgs,
  .container.fs.model--audios,
  .container.fs.model--textchat {
    background-size: cover;
  }
  .container.fs.model--text section,
  .container.fs.model--textimgs section,
  .container.fs.model--textchat section {
    padding: 20px 40px 60px 20px;
    margin-top: 200px;
  }
  .model--text section button,
  .model--textchat section button {
    margin-right: 0;
  }

  .model--question h1 {
    font-size: 28px;
    line-height: 34px;
  }
  .model--question .answer {
    -webkit-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
  }
  .model--question .answer button {
    width: 130%;
  }
  .model--question button:first-of-type {
    margin-right: 0px;
    margin-bottom: 30px;
  }

  .container.fs.model--stats {
    -webkit-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
  }
  .model--stats aside {
    margin: 30px 0 0 0;
  }
  .container.fs.model--stats section {
    margin-top: 40px;
    display: inline-block;
  }
  .model--text section button {
    width: 100%;
    margin-bottom: 60px;
  }

  .model--statsnumber .stats-number-bg {
    top: calc(50% - 260px);
    left: calc(50% - 190px);
    font-size: 170px;
  }

  .model--statsnumber button {
    width: 90%;
  }
  .model--quote blockquote {
    margin: 10px;
  }
  .model--quote blockquote::before {
    content: none;
  }

  nav {
    height: 400px;
    -webkit-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
                -ms-grid-row-align: flex-start;
            align-items: flex-start;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
  nav.up {
    -webkit-transform: translateY(calc(100vh - 400px));
            transform: translateY(calc(100vh - 400px));
  }
  .nav-control {
    bottom: 400px;
  }
  nav .nav-control:hover {
    -webkit-transform: translate3d(0, 0px, 0);
            transform: translate3d(0, 0px, 0);
  }
  nav.up .nav-control {
    -webkit-transform: translate3d(0, 1px, 0);
            transform: translate3d(0, 1px, 0);
  }
  nav a {
    margin-left: 30px;
    text-decoration: none;
  }
  nav a.active::before {
    content: none;
  }
  nav a::after {
    content: none;
  }
  nav a .tooltip {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    background: none;
    position: relative;
    top: -30px;
    left: 50px;
    color: #FEFEFE;
    opacity: 1;
    margin: 0;
    padding: 0;
    width: 300px;
  }
  nav a.active::after {
    content:none;
  }
  nav a.active .tooltip {
    margin-top: 30px;
  }
  nav a .tooltip::after {
    content: none;
  }
}

/*PLAYER*/
video.video{
    z-index: -1;
    width:100vw;
    height: 100vh;
}

.player .seek-bar
{
    display: inline-block;
    opacity: 1;
    position: absolute;
    bottom: 40px;
    width:80%;
    left:50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    height:20px;
    background-color:lightblue;
    z-index: 1;
    -webkit-transition: all 0.5s ease;
    transition:all 0.5s ease;
}

.player .seek-bar .progress-bar
{
    width:100%;
    height:100%;
    background-color:cadetblue;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin:0;
    transform-origin:0;
    -webkit-transition:-webkit-transform 0.1s linear;
    -webkit-transition: all 0.1s linear;
    transition:all 0.1s linear;
}

.player .seek-bar.hide
{
    display: none;
    opacity:0;
}
.player .seek-bar.hidep
{
    display: none;
    opacity:0;
}
