<div class="container">
  <ul class="list-inline">
    <li><a ui-sref="home">Home</a></li>
  </ul>
  <ul ng-if="isAuthenticated()" class="list-inline">
    <li><a ui-sref="account" ng-class="{ active: isActive('/account')}">My Account</a></li>
    <li><a ui-sref="#" ng-click="logout()">Logout</a></li>
  </ul>
  <ul ng-if="!isAuthenticated()" class="list-inline">
    <li><a ui-sref="login" ng-class="{ active: isActive('/login')}">Log in</a></li>
    <li><a ui-sref="signup" ng-class="{ active: isActive('/signup')}">Sign up</a></li>
  </ul>
</div>
