<div class="container fs login">
    <h2 class="ft--avenir__bold ft--grey__dark">Qui êtes-vous ?</h2>
    <button ng-click="authenticate('facebook')" class="ft--avenir__bold ft--white"><img src="img/facebook.svg" alt="Facebook icon">Se connecter avec Facebook</button>

    <span class="fb-info ft--avenir__demibold ft--grey__light"><img src="img/info.svg" alt="information icon"> Nous ne publions rien sur Facebook</span>
    <span class="conditions-info ft--avenir ft--grey__dark">En continuant, vous acceptez nos <a ui-sref="home" class="ft--red">conditions d’utilisation</a> et Politique de Confidentialité</span>
    <a href="/signup" class="no-fb ft--avenir ft--grey__dark">Je n'ai pas de compte Facebook</a>
</div>
