<div class="container fs login">
  <div ng-if="messages.error" role="alert" class="text-danger">
    <div ng-repeat="error in messages.error">{{error.msg}}</div>
  </div>
  <form ng-submit="signup()">
    <label for="firstname" class="ft--avenir__bold ft--grey__dark">Quel est votre prénom ?</label>
    <input class="ft--avenir ft--grey__light" type="name" name="firstname" id="firstname" placeholder="Mon prénom" ng-model="user.firstname" autofocus required>
    <label for="lastname" class="ft--avenir__bold ft--grey__dark">Quel est votre nom de famille ?</label>
    <input class="ft--avenir ft--grey__light" type="name" name="lastname" id="lastname" placeholder="Mon nom" ng-model="user.lastname" required>
    <label for="email" class="ft--avenir__bold ft--grey__dark">Quel est votre addresse email ?</label>
    <input class="ft--avenir ft--grey__light" type="email" name="email" id="email" placeholder="Mon email" ng-model="user.email" required>
    <button class="ft--avenir__bold ft--white" type="submit">Confirmer</button>
    <span class="conditions-info ft--avenir ft--grey__dark">En continuant, vous acceptez nos <a href="#" class="ft--red">conditions d’utilisation</a> et Politique de Confidentialité</span>
  </form>
</div>
