<div class="container fs slide1 model--video">
  <video src="img/timelapse.mp4" autoplay loop preload="auto">
    Your browser doesn't support video API
  </video>
  <button class="ft--avenir__bold ft--white" ui-sref="goto({chapter: {{data.nextChapter}}, slide: {{data.nextSlide}}})">Passer</button>
</div>

<nav>
  <div class="nav-overlay"></div>
  <div class="nav-control"></div>
  <a href="#" class="active"><div class="tooltip ft--avenir ft--white">Part 1</div></a>
  <a href="#"><div class="tooltip ft--avenir ft--white">Part 2kvljvkvkhv</div></a>
  <a href="#"><div class="tooltip ft--avenir ft--white">Part 3</div></a>
</nav>
