<div class="container fs model--quote">
  <blockquote class="ft--palatino ft--grey__dark">La parole, les gestes, les mimiques restent d’usage courant dans les échanges au sein des sociétés humaines. Nous ne vivons pas encore au sein d’une pure société de communication numérique et nous ne sommes pas non plus les expérimentateurs d’un nouvel âge de l’information. Mais nous sommes entrés, de plein gré, dans une époque neuve, et qui ne nous laisse aucun répit : le temps de la connexion permanente.</blockquote>
  <p class="ft--avenir ft--grey__light">— La condition numérique - Jean-François Fogel & Bruno Patino</p>
  <button class="ft--avenir__bold ft--white">Passer à la suite</button>
</div>

<nav>
  <div class="nav-overlay"></div>
  <div class="nav-control"></div>
  <a href="#" class="active"><div class="tooltip ft--avenir ft--white">Part 1</div></a>
  <a href="#"><div class="tooltip ft--avenir ft--white">Part 2kvljvkvkhv</div></a>
  <a href="#"><div class="tooltip ft--avenir ft--white">Part 3</div></a>
</nav>
