<div class="container fs model--textchat" style="background: url(https://unsplash.it/1440/900) no-repeat;">
  <section>
    <h1 class="ft--avenir__bold ft--grey__dark">Tu partages l’avis de 70% des personnes que nous avons interrogé.</h1>
    <div class="chat">
      <div class="message left">
        <div class="message-text">L'intention de la relation est déjà relativement explicite avant même que la relation n'ai débuté, ce qui la rend plus artificielle qu'une relation classique.</div>
      </div>
      <div class="message right">
        <div class="message-text">Je trouve que ce n'est absolument pas fiable on ne peut pas prétendre fonder une relation amoureuse sérieuse quand à la base on connaît la personne seulement sur son physique et quelques infos personnelles qui n'ont pas de garantie d'être vraies!</div>
      </div>
      <div class="message left">
        <div class="message-text">C'est plutôt triste d’en arriver là. Mais c’est certainement intrinsèquement lié à notre société actuelle toujours connectée</div>
      </div>
      <div class="message left">
        <div class="message-text">Le plus : il y en a pour tous les goûts - Le moins : Les applications et sites de rencontres ont l'art et la manière de rendre ses utilisateurs inintéressants aux yeux des autres.</div>
      </div>
      <div class="message right">
        <div class="message-text">Pour moi, elles enlèvent le "charme" d'une rencontre naturelle.</div>
      </div>
    </div>
    <button class="ft--avenir__bold ft--white">Passer à la suite</button>
  </section>
</div>

<nav>
  <div class="nav-overlay"></div>
  <div class="nav-control"></div>
  <span class="slide-title" ng-bind="$state.current.data.pageTitle"></span>
  <a href="#" class="active"><div class="tooltip ft--avenir ft--white">Part 1</div></a>
  <a href="#"><div class="tooltip ft--avenir ft--white">Part 2kvljvkvkhv</div></a>
  <a href="#"><div class="tooltip ft--avenir ft--white">Part 3</div></a>
</nav>
