<div class="container fs slide1">
  <!-- Motion Vidéo + Voiceover -->
  <!-- Après des siècles d’interaction sociale nécessitant la présence physique des interlocuteurs
  le numérique est venu révolutionner nos habitudes sociales. Depuis l’arrivée du téléphone mobile et du web,  nous sommes devenus des êtres hyper connectés. Dès lors, tout s’est accéléré, l’apparition du smartphones, des messages, des réseaux sociaux (facebook, twitter, instagram), chacun de ces éléments nous a rendu de plus en plus dépendants de nos appareils électroniques. On ne peut plus envisager une relation, quelle que soit sa nature;  sans passer par un contact numérique. Nous sommes connectés en permanence à nos proches; et cette interconnexion permanente des émotions, des rêveries et des fantasmes suscite de nouvelles façons d’être ensemble, d’aimer et d’échanger. -->
</div>

<nav>
  <div class="nav-control"></div>
  <span class="slide-title" ng-bind="$state.current.data.pageTitle"></span>
  <a href="#" class="active"></a>
  <a href="#"></a>
  <a href="#"></a>
</nav>
