<div class="container fs model--textimgs">
    <section>
        <p class="ft--avenir ft--grey__light" ng-class="{'ft--palatino': paragraph.quote, 'ft--grey__light': paragraph.quote}" ng-repeat="paragraph in data.paragraphs">{{paragraph.text}}</p>
        <div class="content">
            <img ng-repeat="image in data.images" src="{{ image.imagelink }}" alt="{{image.name}}" width="{{ image.width }}" height="{{ image.height }}">
        </div>
        <button class="ft--avenir ft--white" ui-sref="goto({chapter: {{data.nextChapter}}, slide: {{data.nextSlide}}})">Passer à la suite</button>
    </section>
</div>
