<div class="container fs model--question">
  <h1 class="ft--avenir__bold ft--grey__dark">Et toi, penses-tu que la rencontre internet est <span class="ft--red">superficielle</span> ?<br>Ou gage d’une <span class="ft--red">relation sérieuse</span> ? </h1>
  <div class="answer">
    <button class="ft--avenir__bold ft--white">Superficielle</button>
    <button class="ft--avenir__bold ft--white">Sérieuse</button>
  </div>
</div>

<nav>
  <div class="nav-overlay"></div>
  <div class="nav-control"></div>
  <span class="slide-title" ng-bind="$state.current.data.pageTitle"></span>
  <a href="#" class="active"><div class="tooltip ft--avenir ft--white">Part 1</div></a>
  <a href="#"><div class="tooltip ft--avenir ft--white">Part 2kvljvkvkhv</div></a>
  <a href="#"><div class="tooltip ft--avenir ft--white">Part 3</div></a>
</nav>
