<div class="container fs model--statsnumber">
  <span class="stats-number ft--avenir__bold ft--grey__light">71%</span>
  <span class="stats-number-bg ft--avenir__bold ft--grey__light">71%</span>
  <h1 class="ft--avenir__bold ft--grey__dark">Des personnes ayant utilisés une application de rencontre avouent avoir eu des <span class="ft--red">relations</span>.</h1>
  <button class="ft--avenir__bold ft--white">Passer à la suite</button>
</div>

<nav>
  <div class="nav-overlay"></div>
  <div class="nav-control"></div>
  <a href="#" class="active"><div class="tooltip ft--avenir ft--white">Part 1</div></a>
  <a href="#"><div class="tooltip ft--avenir ft--white">Part 2kvljvkvkhv</div></a>
  <a href="#"><div class="tooltip ft--avenir ft--white">Part 3</div></a>
</nav>
