<div class="container fs model--textchat" style="background: url({{ data.imagelink }}) no-repeat;">
    <section>
        <h1 class="ft--avenir__bold ft--grey__dark">{{data.title}}</h1>
        <div class="chat">
            <div class="message" ng-class="{'right': paragraph.right, 'left':paragraph.left}" ng-repeat="paragraph in data.paragraphs">
                <div class="message-text">{{paragraph.text}}</div>
            </div>
        </div>
        <button class="ft--avenir__bold ft--white" ui-sref="goto({chapter: {{data.nextChapter}}, slide: {{data.nextSlide}}})">Passer à la suite</button>
    </section>
</div>
